<div id="<%= dom_id club %>">
  <p>
    <strong>Name:</strong>
    <%= club.name %>
  </p>

  <p>
    <strong>Founded:</strong>
    <%= club.founded %>
  </p>

  <p>
    <strong>City:</strong>
    <%= club.city %>
  </p>

</div>
